// variables//


*{
	padding: 0px;
	margin: 0px;
}

$bg-dark:black;
$bg-info:lightgray;
$bg-success:green;
$bg-white:antiquewhite;
$bg-fondo:whitesmoke;
$bg-border:white;
$bg-resaltar:deeppink;
$bg-floral:violet;
$bg-pink:pink;
$bg-pinksoft:lightpink;


$bg-bourder:double;

$w-16:16%;
$w-20:20%;
$w-25:25%;
$w-38:38%;
$w-50:50%;
$w-75:75%;
$w-94:94%;
$w-100:100%;

$h-25:25%;
$h-38:38%;
$h-50:50%;
$h-75:75%;
$h-94:94%;
$h-100:100%;

