
body {
	background-color: bg-dark;
}


.titulo{
	border: double;
	color: antiquewhite

}

.titulo__descuento{

	color: lightpink;
	font:font-especial;
	font-size: 4vh;
}


.todo{
	border-style: dashed;
	border-color: salmon;

}

.todo__sale{
	background-color: bg-dark;
		
}

.agrandar:hover{
	cursor: pointer;
	transform: scale(1.2);

	}

.precio{
	margin: 2rem 6rem;
	
}

.precio__comprar{
	margin: auto;
	font:font-all;
	border: double;
	border-color: white;
	color: gray;
	background-color: bg-success;
	font-weight: 30;
	font-size: 20px;
	line-height: 1rem;
	letter-spacing: 0,1rem;
	width: w-50;
}

@for $i from 1 through 3{
	h#{$i}{font-size: 0,5em *$i}
}

@for $i from 4 through 5{
	h#{$i}{font-size: 1em *$i}
}


@each $icono in facebook, twitter, instagram{
	.#{$icono}-icon{
	background-image: url(../img/#{$icono}.png);
	width: 30px;
	height: 30px;
	background-size: 100%;

	}
}


