$font-navBar: calibri, sans-serif;
$font-info: arial, sans-serif ;
$font-general: monotype, sans-serif;

$fontSizeSuperSmall: 0,5rem;
$fontSizeSmall: 1rem;
$font-size-medium: 2rem;
$font-size-big: 6rem;

$font-bold: 600;
$font-thin: 300;