// nav para los html


nav{
	ul{
		
		font-size: $font-size-medium;
		list-style: none;
		padding: 5px;
		border: solid;
		border-color: $bg-white;
		color: $bg-fondo;
	}

	li{
		list-style-type: none;
		list-style-position: inside;
		display: inline-block;
		width: $w-16;
		position: relative;
	}

	a{
		font-style: normal;
		font-weight: $font-bold;
		line-height: 3rem;
		text-decoration: none;
		margin-left: 2rem;
		color: $bg-dark;
	}
}


nav ul li a:hover{
	background-color: $bg-pinksoft;
}



ul ul{
	position: absolute;
	display: none;
}

ul ul li{
	display: block;
}

ul li:hover ul{
	display: block;
}


a.activa{
	text-decoration: none;
}
